<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a seasoned software developer, software architect and data scientist, having over 12 years experience.
	    While I'm proficient in both application development and systems programming, my expertise lies in designing 
            and building complex event processing systems and data driven analytical systems. This includes algorithmic
            trading systems, order management systems and data analysis frameworks
        </p>
        <p>
           I am a hands-on technical leader, having evolved many trading systems, and also built various software products from the ground up.
           I have headed an algorithmic trading desk, and have an over-arching understanding of the workings of financial software systems.
           I have also specialized in machine learning and algorithm analysis, and possess an inherent love for all things data.           
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Designing and developing an analytic/ machine-learning framework for complex data analysis 
    			</li>
			<li>
            Adviced on designing and structuring online data analytics courses with BITS, Pilani
    			</li>
          <li>
            Upgraded and stabilized the Sell-side Algorithmic trading system with reduced latency, improved algorithms and enhanced FIX
	    client connectivity. This resulted in a 2x increase in equity trade volume and 3.5x increase in futures trade volume, at Edelweiss 
          <li>
            Introduced data analytics driven Algorithms for low-touch/DMA (Direct Market Connectivity) clients, which resulted in a 100x increase in DMA futures volume
    			<li>
            Designed and developed low latency buy-side trading system, to work with an FPGA order management system, from the ground up.
    			</li>
    			<li>
            Founding Member of Credit Suisse ONYX; world's first algorithmic trading system for US treasury bonds, and an alternative for RFQ trading
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
