<section class="tout" id="interests and projects">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Machine learning</b>. I have always had a keen interest in machine learning and AI since before my university days. I'm always
				  looking for, or developing new ways to efficiently clean and analyze data.
			  </li>
			  <li>
				  <b>Music</b>. Music has been my passion since childhood. While i do like to sing and strum along the guitar every now and then,
				  what excites me is to find ways to mash up or mix up music, especially with all the available software.
			  </li>
			  <li>
				  <b>Social Work</b>. My family and I started "Dr Vijayalakshmi Basavaraj Charitable Society" in my mothers name, 
				  after she passed away in 2011. As part of the charitable society, we provide yearly scholarships to meritorious students at
				  the school for the visually impaired and the school for the hearing handicapped at Mysore,India. We also hold yearly 
				  educational lectures and music concerts as part for the society.
			  </li>
			  <li>
				  <b>Travelling</b>. I love travelling to new places, and experiencing the local culture and cuisines. 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Designing a Model Agnostic Complex Analytic Data Processing framework in order to efficiently clean and 
	  analyze complex data using a standalone, or a combination of models
  			</li>
			  <li>
          Adviced on designing and structuring 2 modules of an online Data Analytics course, with BITS Pilani, on Connect2Teach
    		</li>
  			<li>
          I have given various talks on Data Science and Algorithmic trading at various venues, including Data Science Congress, 
	  Baruch College (CUNY), Data Science Conclave etc.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           I Volunteer for the Versova Beach cleanup drive, Mumbai, India
  			</li>
			    <li>
           I have always been an animal lover and I love working with rescued animals (primarily cats and dogs) in my spare time
  			</li>
  			<li>
  			  I have recently developed a love for cooking, especially Indian, mexican and thai cuisine.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
